// Custom variables puts here:

// end

@import "bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.default_class {
}

.navbar {
  margin-bottom: 20px;
}

/*
*
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}